@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,600;0,700;1,300;1,400&display=swap');

.sydney{
    width: 100%;
    height: 700px;
}

.main-section{
    background-color: #2980b9;
    text-align: center;
    font-family:"Source Serif Pro", Helvetica, sans-serif;
    color: #e0fcfd;
}

.main-section h1{
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 45px;
}

.main-section p{
    font-size: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
}

.main-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.div-tours{
    background-color: #139abe;
    border-radius: 10px;
    width: 240px;
    height: 400px;
    color: white;
    font-family: "Source Serif Pro", Helvetica, sans-serif;
}

.image-wrap img{
    width: 240px;
    height: 230px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.div-tours h3{
    text-align: center;
}

.div-tours p{
    margin: 5px 12px;
}

.button-tours{
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-tours:disabled {
  cursor: default;
}


.button-prepare{
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 0px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    /* transition: all .2s,box-shadow .08s ease-in; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.div-prepare{
    background-color: #139abe;
    border-radius: 10px;
    width: 240px;
    height: 400px;
    color: white;
    font-family: "Source Serif Pro", Helvetica, sans-serif;
    font-size: 300;
}

.div-prepare h3{
    text-align: center;
    margin: 16px 0px;

}

.div-prepare p{
    margin: 5px 12px;
}

.popular-trips{
    font-family: "Source Serif Pro", Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}

.div-suggestions{
    width: 480px;
    font-size: 20px;
    margin-right: 130px;
    margin-left: 20px;
}

.img-popular-wrap img{
    width: 270px;
    height: 180px;
}

.popular-div{
    font-family: Arial, Helvetica, sans-serif;
    width: 270px;
    background-color: #33495d;
    color: white;
    margin-left: 20px;
    text-align: center;
}

.div-suggestions p{
    line-height: 1.4;
}