@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,600;0,700;1,300;1,400&display=swap');


.create-form-wrapper{
    background-color: #dbdbdb;
    width: 550px;
    position: relative;
    height: 430px;
    margin: 0px auto 0px auto;
}

.create-whole{
    display: flex;
    margin: 60px auto 70px auto;
    font-family: "Source Serif Pro", Helvetica, sans-serif;
    height: 380px;
    width: 43%;
}

.create-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 20px;
    padding-left: 60px;
    
}

#destination, #imageUrl{
    font-size: 17px;
}

.destination-label, .imageUrl-label, .description-label{
    font-size: 17px;
}

.submit-button{
    position: absolute;
    right: 50px;
    bottom: 10px;
    width: 150px;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family:"Source Serif Pro", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}

.submit-button:hover{
    background-color: #FFFFFF;
    color: #5E5DF0;
    transition: all .6s ease;
}

.destination-div-wrapper{
    display: flex;
    flex-direction: column;
}

.error-p{
    color: red;
    margin: 0px;
}